.message-wrapper {
  display: flex;
  align-items: center;

  .message {
    position: relative;
    display: inline-block;
    background-color: lightblue;
    margin-left: 3.5rem;
    margin-bottom: 10px;
    padding: 0.75rem 1.1rem;
    max-width: 400px;
    text-align: left;
    border-radius: 10px 10px 10px 0;

    &:before {
      content: " ";
      position: absolute;
      background-color: lightblue;
      width: 10px;
      height: 10px;
      bottom: 0;
      right: 100%;
    }

    &:after {
      content: " ";
      position: absolute;
      background-color: white;
      width: 10px;
      height: 10px;
      bottom: 0;
      right: 100%;
      border-radius: 0 0 10px 0;
    }

    .message-user-avatar {
      position: absolute;
      bottom: 2px;
      right: calc(100% + 0.5rem);
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      z-index: 1;
    }

    .message-user-name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.1rem;
    }

    .message-text {
      margin-top: 0.5rem;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.6rem;

      button {
        background-color: lightblue;
        font-size: 0.9rem;
      }

      .message-time {
        font-size: 0.9rem;
      }
    }
  }
}

