@import "./../../colors";

.message-wrapper {
  display: flex;
  align-items: center;

  .message {
    position: relative;
    display: inline-block;
    background-color: $lightGray;
    margin-left: 3.5rem;
    margin-bottom: 10px;
    padding: 0.75rem 1.1rem;
    max-width: 400px;
    text-align: left;
    border-radius: 10px 10px 10px 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);


    &:before {
      content: " ";
      position: absolute;
      background-color: $lightGray;
      width: 10px;
      height: 10px;
      bottom: 0;
      right: 100%;
      box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
    }

    &:after {
      content: " ";
      position: absolute;
      background-color: $warmWhite;
      width: 10px;
      height: 10px;
      bottom: 0;
      right: 100%;
      border-radius: 0 0 10px 0;
    }

    .message-user-avatar {
      position: absolute;
      bottom: 2px;
      right: calc(100% + 0.5rem);
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      border-radius: 100%;
      z-index: 1;
    }

    .message-user-name {
      margin-bottom: 0.5rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.1rem;
    }

    .message-text {
      width: 100%;
      word-wrap: break-word;
    }

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.6rem;

      .likes {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.liked {
          color: $rose;

          .message-like {
            color: $rose;
          }
        }

        .like-count {
          margin-left: 0.5rem;
          font-size: 0.9rem;
        }
      }

      button {
        background-color: $lightGray;
        font-size: 0.9rem;
      }

      .message-time {
        font-size: 0.9rem;
        margin-left: 0.75rem;
      }
    }
  }
}

