@import "./../../colors";

.own-message-wrapper {
  .own-message {
    background-color: $rose;
    color: $warmWhite;

    &:before {
      background-color: $rose;
    }

    &:after {
      background-color: $warmWhite;
    }

    .info {
        button {
          background-color: $rose;
          color: $warmWhite;
        }
    }

    .control {
      display: flex;

      .message-edit {
        margin-right: 0.75rem;
      }

      .message-delete {
        margin-right: 0.75rem;
      }
    }
  }
}

@media screen and (max-width: 1000px){
  .own-message-wrapper {
    justify-content: flex-end;

    .own-message {
      margin-right: 1rem;
      border-radius: 10px 10px 0 10px;

      &:before {
        content: " ";
        position: absolute;
        width: 10px;
        height: 10px;
        bottom: 0;
        left: 100%;
      }

      &:after {
        content: " ";
        position: absolute;
        width: 10px;
        height: 10px;
        bottom: 0;
        left: 100%;
        border-radius: 0 0 0 10px;
        box-shadow: 5px -5px 4px -7px rgba(34, 60, 80, 0.6) inset;
      }

      .message-user-avatar {
        display: none;
      }

      .message-user-avatar {
        left: calc(100% + 0.5rem);
      }

      .info {
        .control {
          margin-left: 0.75rem;
          order: 2;
          display: flex;

          .message-edit {
            order: 2;
          }

          .message-delete {
            order: 3;
            margin-right: 0;
          }

          .likes {
            order: 1;
            margin-right: 0.75rem;
          }
        }

        .message-time {
          margin-left: 0;
          order: 1;
        }
      }

    }
  }
}

